.hero{
    background: url("assets/Intersect.png") no-repeat;
    background-position: right top;
    background-size: contain;
    background-color: #ffd699;
}

.vr{
    opacity: 100%;
    height: 30px;
}

.active{
    border-bottom: #ed8d00 solid 3px;
}
